// Importações
@import "variables";

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
	main#conteudo-principal > div.container-fluid {
		padding-left: 0.025rem !important;
		padding-right: 0.025rem !important;
		max-width: 460px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	/* Pagina inicial*/
	.products ul,
	#avaliacoes-dos-usuarios ul {
		display: grid !important;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
	}

	.card {
		width: 100%;
	}

	#avaliacoes-dos-usuarios .card {
		max-width: 100% !important;
		min-width: 0;
	}

	.card h4 + span + p,
	#avaliacoes-dos-usuarios h4 ~ p {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}

	#avaliacoes-dos-usuarios img {
		max-width: 45% !important;
		margin-top: 0.25rem !important;
	}

	#avaliacoes-dos-usuarios h4 {
		font-size: 0.72rem !important;
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
	}

	#avaliacoes-dos-usuarios h4 ~ p {
		-webkit-line-clamp: 5;
		font-size: 0.65rem !important;
		line-height: 1.5 !important;
		width: 100%;
		padding: 0.05rem;
	}

	.card button {
		line-height: 1.5;
	}

	/* Footer*/
	#caminhos {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
		flex: 1 1 auto;
		flex-shrink: 0.25;
	}

	#caminhos > div {
		max-width: max-content !important;
	}

	#caminhos > div:last-of-type {
		flex-grow: 0.25;
	}

	/* produto.html*/
	#card-produto {
		background-size: 150%;
		background-position: center;
	}

	.padrao_produtos #card-produto figure {
		display: grid;
		grid-template-rows: auto auto;
		gap: 12px;
	}

	.padrao_produtos #card-produto figure > * {
		width: 100%;
	}

	/* Configuracooes*/
	#conf-page #conteudo-principal #graficos-usuario > div:first-child {
		padding: 0.5rem !important;

		font-size: 1rem !important;
		line-height: 1.5 !important;
	}

	#conf-page .consulta {
		padding: 0.75rem 0.5rem !important;
	}

	#conf-page .nome-consulta {
		margin: auto 0;
		font-size: 0.85rem !important;
	}

	#conf-page .data-consulta {
		width: max-content !important;
	}

	/* artigo*/
	#blog-page #ultimos-artigos > div {
		grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
	}

	#artigo-page #ultimos-artigos > div {
		display: grid !important;
		grid-template-columns: repeat(3, 1fr) !important;
		gap: 0.5rem !important;
	}

	/*
  *********************
  ***     ADMIN     ***
  *********************
  */

	.__admin #graficos-usuario #score + div h4 {
		font-size: 0.85rem;
	}

	.__admin #graficos-usuario #score + div h4 ~ span {
		font-size: 1rem;
	}

	/* Produtos*/
	#modal-editar-produto img:not(.broken) {
		max-height: 35vh !important;
		width: 100%;
		object-fit: fill;
		overflow: hidden;
	}

	/* Clientes*/
	#pagina-clientes #cabecalho {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem !important;
	}

	#pagina-clientes .container-campo-pesquisa {
		width: 100%;
		margin-left: auto;
		margin-right: 1rem;
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.container-aside-clientes .__cliente img {
		width: 3.75rem !important;
	}
}

@media (min-width: 575.98px) {
	.products .card {
		border: 2px solid $card-border-color;
	}

	#rodape-principal #caminhos > div > li {
		font-size: 11px;
	}

	#rodape-principal #caminhos > div > li:first-of-type {
		margin-bottom: 7px;
	}

	#rodape-principal
		#caminhos
		> div
		> li:not(li:last-of-type, li:first-of-type) {
		margin: auto;
	}

	/*
************************************
***           Home-page          ***
************************************
*/
	button.informacao-sobre {
		right: 0.75rem;
		top: 0.75rem;
	}

	/* Ultimos artigos*/
	#ultimos-artigos .artigo-usuario .descricao-artigo {
		position: absolute;
		font-size: 0.75rem;
		padding: 0.5rem;
		top: 0;
	}

	.home-page .product-area ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.home-page .product-area .products ul > li {
		width: 100%;
	}

	/* home/index.html*/
	.home-page:not(.padrao_produtos) .product-area {
		background: $color-white !important;
		box-shadow: $box-shadow !important;
	}

	.home-page:not(.padrao_produtos) .product-area .products {
		display: flex !important;
		justify-content: space-between !important;
	}

	.home-page:not(.padrao_produtos) .product-area .card {
		border-radius: $border-card !important;
		border: none !important;
	}

	.padrao_produtos .product-area .card {
		border-radius: $border-card !important;
		border: none !important;
	}

	.padrao_produtos .product-area .card .btn-primary {
		margin-bottom: 0.35rem;
	}

	#artigo-page.__admin #modal-editar-produto form {
		min-width: 480px !important;
		width: 100%;
		max-width: 800px !important;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
	html {
		font-size: calc(17px + 0.390625vw);
	}
	.btn-primary {
		line-height: 1.85 !important;
	}
	/* 
  ***********************
  ***     Rodapé      ***
  ***********************
  */

	#rodape-principal {
		padding-left: 0px !important;
	}

	#rodape-principal #contate-nos {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 30px 20px !important;
	}
	#rodape-principal #contate-nos > div {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	#rodape-principal #contate-nos a img {
		margin: auto;
	}

	#rodape-principal #contate-nos span {
		margin-top: 8px;
		font-size: 13px;
	}

	/* Caminhos */
	#rodape-principal #caminhos > div {
		display: flex;
		flex-direction: column;
	}

	#rodape-principal #caminhos > div > li:first-of-type {
		margin-bottom: 10px;
	}

	#rodape-principal > span:last-of-type {
		font-size: 10px;
		line-height: 2.3em;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
	/* Conteúdo pós-cabeçalho */
	.main-carousel {
		height: 580px;
		padding-top: 60px !important;
		margin-bottom: 70px !important;
		box-shadow: 0px -45px 45px -10px $color-white inset;
	}

	.container-all-slides {
		display: flex;
		padding-bottom: 10px;
		position: relative;
	}

	.main-carousel h3 {
		font-size: 24px !important;
	}

	.main-carousel span {
		font-size: 16px;
	}

	.main-carousel button {
		font-size: 14px;
		margin-top: 5%;
		line-height: 250%;
	}

	/*navegação do carroussel*/
	#navegacao-carroussel {
		column-gap: 7px;
	}

	#navegacao-carroussel li {
		width: 6px;
		height: 6px;
	}

	#navegacao-carroussel #slide-atual {
		width: 10px !important;
		height: 10px !important;
	}

	.category-title {
		font-size: 26px;
	}

	.subcategory-title {
		font-size: 14px;
		margin-bottom: 30px;
	}

	.card {
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
	}

	.products .card {
		border-radius: 1rem !important;
		border-width: 2px;
	}

	.products .card figure {
		padding: 15px 0 8px !important;
	}

	.products .card img {
		width: 100% !important;
	}

	.products .card h4,
	#avaliacoes-dos-usuarios h4 {
		font-size: 18px;
	}

	.products .card span {
		font-size: 12px;
	}

	.products .card p,
	#avaliacoes-dos-usuarios .card p {
		font-size: 13px;
		margin: 10px 0 13px;
	}

	.products .card button {
		font-size: 14px;
		line-height: 250%;
	}

	/* Como-funcionamos */
	.how-we-work {
		height: 280px;
		background-image: url(./../image/como-funciona-bg-1.svg),
			url(./../image/como-funciona-bg-2.svg),
			url(./../image/como-funciona-bg-3.svg),
			url(./../image/como-funciona-bg-4.svg),
			url(./../image/como-funciona-bg-5.svg),
			url(./../image/como-funciona-bg-6.svg);
		background-position: top 22% left, top 75% left 26%, top -35px left 55%,
			bottom left 64%, center left 84%, bottom 10px left 100%;
		background-size: 120px, 200px, 90px, 185px, 180px;
		object-fit: scale-down;
	}

	.how-we-work p {
		font-size: 14px;
		line-height: 1.5em;
		padding-right: 90px;
		margin-top: 15px;
	}

	/* Avaliações dos usuários */
	#avaliacoes-dos-usuarios {
		margin-top: 30px !important;
	}

	#avaliacoes-dos-usuarios .card p {
		margin-bottom: 0;
	}

	#avaliacoes-dos-usuarios ul {
		margin-top: 70px !important;
		column-gap: 30px !important;
	}

	#avaliacoes-dos-usuarios img {
		width: 50% !important;
		margin-bottom: 25px !important;
		margin-top: 10px !important;
		max-width: 100% !important;
	}

	/* Iniciar sessao*/
	.iniciar-sessao .lado-direito {
		background: $color-white !important;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	}

	/* Cadastro*/
	#cadastro {
		background: url(./../image/background-cadastro.png) no-repeat;
		overflow-y: scroll;
	}

	#cadastro .lado-direito {
		min-width: 520px !important;
	}
	/*
  *****************************
  ***     Landing-page      ***
  *****************************
  */
	#landing-pos-header {
		background: url(./../image/como-funciona-bg-3.svg) no-repeat,
			url(./../image/como-funciona-bg-1.svg) no-repeat,
			url(./../image/como-funciona-bg-3.svg) no-repeat,
			url(./../image/pkg-bg-left/bg-left-top.svg) no-repeat,
			url(./../image/pkg-bg-left/bg-left-middle.svg) no-repeat,
			url(./../image/pkg-bg-left/bg-left-bottom.svg) no-repeat,
			url(./../image/pkg-bg-bottom/left.svg) no-repeat,
			url(./../image/pkg-bg-right/bg-r-top.svg) no-repeat,
			url(./../image/pkg-bg-right/bg-r-middle.svg) no-repeat,
			url(./../image/pkg-bg-right/bg-r-bottom.svg) no-repeat,
			url(./../image/pkg-bg-bottom/right.svg) no-repeat,
			url(./../image/como-funciona-bg-4.svg) no-repeat,
			url(./../image/como-funciona-bg-6.svg) no-repeat,
			url(./../image/como-funciona-bg-4.svg) no-repeat;
		background-position: left -1.7rem top calc(var(--header-height) + 5%),
			left -0.7rem top calc(43% + var(--header-height)), left -1.7rem bottom 5%,
			left 8% top calc(var(--header-height) - 5%),
			left 10% top calc(40% + var(--header-height)), left 11% bottom 5%,
			left 28% bottom, right 8% top calc(var(--header-height) - 5%),
			right 10% top calc(40% + var(--header-height)), right 11% bottom 5%,
			right 28% bottom, right -1.7rem top calc(var(--header-height) + 5%),
			right -2rem top calc(43% + var(--header-height)), right -1.7rem bottom 5% !important;
		background-size: 2.7rem, 3rem, 2.7rem, 6.6rem, 2.9em, 6.6rem, 3rem, 6.6rem,
			2.9em, 6.6rem, 3rem, 2.7rem, 4.1rem, 2.7rem !important;
		background-color: $primary-color;
	}

	#landing-pos-header form {
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
		padding-left: 5rem !important;
		padding-right: 5rem !important;
	}

	/*
************************************
***           Home-page          ***
************************************
*/
	body.home-page {
		height: 100%;
		overflow: hidden;
		display: flex !important;
	}

	/* Menu lateral */
	body.home-page #menu-lateral {
		display: grid;
		background: $color-white;
		grid-template-rows: max-content max-content;
		padding: 2rem 1rem !important;
		box-shadow: 0px 0px 80px rgba(0, 204, 102, 0.12);
		border-radius: 0px 30px 30px 0;
		max-height: 100%;
		width: max-content;
		height: 100%;
		box-sizing: border-box;
		position: absolute;
		grid-row: 1;
	}

	#menu-lateral .logo img {
		width: 1.9rem;
	}

	#menu-lateral .navegacao {
		width: 100% !important;
		display: flex !important;
		margin-top: 3rem !important;
		row-gap: 1.2rem !important;
		flex-direction: column !important;
		padding: 0 !important;
		align-items: center;
		box-sizing: border-box;
	}

	#menu-lateral .navegacao li {
		width: max-content !important;
		padding: 0 !important;
	}

	/* Vizualizando */
	#menu-lateral #vizualizando:hover::before {
		content: ".";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 100%;
		line-height: 1;
		font-size: 1px;
		display: flex;
		width: 1rem;
		height: 1.5px;

		z-index: -1 !important;
		border: none;
		background: $color-black;
	}

	#menu-lateral #vizualizando:hover::after {
		content: " ";
		position: absolute;
		width: calc(4.1rem);
		border-radius: 2rem;
		top: 50%;
		transform: translateY(-50%);
		left: calc(95% + 0.9rem);

		font-size: 0.52rem;
		line-height: 2;
		text-align: center;
		color: $color-white;

		background: $primary-color;
	}

	/* Etiqueta do home */
	#menu-lateral .navegacao li:first-of-type#vizualizando:hover::after {
		content: "Home";
	}

	/* Etiqueta de produtos */
	#menu-lateral .navegacao li:nth-of-type(2)#vizualizando:hover::after {
		content: "Produtos";
	}

	/* Etiqueta de configuracoes */
	#menu-lateral .navegacao li:nth-of-type(3)#vizualizando:hover::after {
		content: "Configurações";
	}

	/* Etiqueta de bolg */
	#menu-lateral .navegacao li:nth-of-type(4)#vizualizando:hover::after {
		content: "Blog";
	}

	/* Para admin*/

	/* Etiqueta de clientes */
	.__admin
		#menu-lateral
		.navegacao
		li:nth-of-type(3)#vizualizando:hover::after {
		content: "Clientes";
	}

	/* Etiqueta consulta */
	.__admin
		#menu-lateral
		.navegacao
		li:nth-of-type(4)#vizualizando:hover::after {
		content: "Consulta";
	}

	/* Etiqueta de configuracoes */
	.__admin
		#menu-lateral
		.navegacao
		li:nth-of-type(5)#vizualizando:hover::after {
		content: "Configurações";
	}

	/* Etiqueta de bolg */
	.__admin
		#menu-lateral
		.navegacao
		li:nth-of-type(6)#vizualizando:hover::after {
		content: "Blog";
	}

	#menu-lateral .navegacao img {
		padding: 0.4rem;
		height: 1.8rem;
		width: 1.8rem;
		max-width: 100%;
	}

	#menu-lateral .logout {
		position: absolute;
		box-sizing: border-box;
		bottom: 2rem;
		left: 50%;
		transform: translateX(-50%);
	}

	#menu-lateral button {
		width: max-content !important;
		height: max-content !important;
		padding: 0;
		border: none;

		background: none !important;
	}

	/*
***********************************
***     Conteudo principal      ***
***********************************
*/

	.home-page h3.titulo {
		font-size: 0.95rem;
	}

	.home-page
		#conteudo-principal
		> .container-fluid:not(.__admin .container-fluid) {
		width: 85%;
		margin: 0;
	}

	.home-page #conteudo-principal {
		width: 100% !important;
		/* Primeiro valor referente ao avanco do menu lateral, o segundo e o avanco padrao */
		padding-left: calc(4rem + 3rem) !important;
	}

	._fullscreen-main main#conteudo-principal {
		padding-left: 0 !important;
	}

	._fullscreen-main main#conteudo-principal > *:not(:last-child) {
		padding-left: calc(4rem + 3rem) !important;
	}

	.informacao-sobre {
		width: 0.85rem;
		height: 0.85rem;
		top: 0.8rem;
		right: 0.8rem;
	}

	/* Score */
	.skill h4 {
		font-size: 1.3rem !important;
	}

	#score .descricao-score {
		margin: auto auto 0 !important;
		line-height: 2.5;
	}

	/*
*******************************
***     Nossos produtos     ***
*******************************
*/
	.home-page .product-area .card {
		filter: none;
	}

	/*
*******************************
***     Padrao produtos     ***
*******************************
*/
	.padrao_produtos h3.titulo {
		margin-left: 0;
	}

	.padrao_produtos h3.titulo > a {
		font-size: 0.52rem !important;

		margin-left: 0.2rem;
	}

	.padrao_produtos .products {
		margin: 0.75rem 0 0 !important;
	}

	.padrao_produtos .products ul {
		box-sizing: border-box !important;
		gap: 2.6% !important;
		display: grid;
		grid-template-columns: repeat(4, 23%) !important;
	}

	.padrao_produtos #conteudo-principal > .container-fluid {
		width: 100% !important;
		max-width: 90% !important;
	}

	#conteudo-principal > .container-fluid .product-area .products > ul {
		width: 100% !important;
		justify-content: flex-start !important;
	}
}

@media only screen and (max-width: 1024px) {
	main#conteudo-principal > div.container-fluid {
		padding-left: 0.025rem !important;
		padding-right: 0.025rem !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.__admin .container-aside-clientes {
		width: 100% !important;
		max-width: 100%;
		height: max-content !important;
		padding: 0 !important;
	}

	.__admin .container-aside-clientes aside {
		width: 100% !important;
		height: max-content !important;
		max-width: 100%;
		display: grid;
	}

	.__admin .container-aside-clientes aside > div {
		display: flex !important;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}

	/* Admin - Produtos*/
	#modal-editar-produto {
		overflow-y: scroll;
	}

	#modal-editar-produto .modal__container {
		min-width: 80%;
		max-width: 540px;
	}
}

/*Font-size*/
@media only screen and (min-width: 1024px) {
	html {
		font-size: 19px;
	}

	/* Nossos produtos*/
	.products .card figure {
		padding: 0.5rem 0.5rem 0 !important;
	}

	.products .card img {
		max-height: 6.5rem;
	}

	/* artigo*/
	#artigo-page #leia-artigo .artigo-mensagem {
		line-height: 1.5rem;
	}

	#artigo-page .back-btn button {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		margin-left: auto;
		border: none;

		background: url(./../image/back.svg) no-repeat center, $primary-color;
		background-size: 40%;
	}

	#card-produto {
		background-size: 40%;
	}
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
	html {
		font-size: 20px;
	}
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {
	main > * {
		max-width: 1400px;
	}
}
