<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foregon</title>
    <link
      rel="shortcut icon"
      href="./../../image/favicon.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./../../style/reset.css" />
    <link rel="stylesheet" href="./../../style/style.css" />
  </head>
  <body class="landing-page">
    <header id="cabecalho-principal">
      <img
        src="./../../image/logo-minha-bufunfa.svg"
        alt="Minha Bufunfa - logo"
      />
    </header>
    <div id="landing-pos-header">
      <form id="faca-seu-cadastro">
        <h1>Faça seu cadastro!</h1>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipis cing elit consectetur
          adipis cing elit.</span
        >
        <fieldset>
          <input type="number" placeholder="CPF" class="campo" />
        </fieldset>

        <button class="botao-verde">Prosseguir</button>
        <ul id="navegacao-carroussel">
          <li id="slide-atual"></li>
          <li></li>
        </ul>
      </form>
    </div>

    <main id="conteudo-principal">

      <div id="algumas-informacoes">
        <details>
          <summary>Lorem Ipsum Exemplo</summary>
          <h3>Lorem Ipsum</h3>

          <p class="texto-pequeno">
            Lorem ipsum dolor sit amet. Cum iste velit sit officiis placeat est
            autem impedit. Sed iure internos eum perferendis tempore eum
            deleniti dolorum. Ab quos modi non magni esse id sapiente alias ab
            facere minus et maiores assumenda qui nostrum quia eum voluptatem
            deleniti. A porro aspernatur est natus quaerat et pariatur numquam!
          </p>
        </details>

        <details>
          <summary>Lorem Ipsum Exemplo</summary>
          <h3>Lorem Ipsum</h3>

          <p class="texto-pequeno">
            Lorem ipsum dolor sit amet. Cum iste velit sit officiis placeat est
            autem impedit. Sed iure internos eum perferendis tempore eum
            deleniti dolorum. Ab quos modi non magni esse id sapiente alias ab
            facere minus et maiores assumenda qui nostrum quia eum voluptatem
            deleniti. A porro aspernatur est natus quaerat et pariatur numquam!
          </p>
        </details>

        <details>
          <summary>Lorem Ipsum Exemplo</summary>
          <h3>Lorem Ipsum</h3>

          <p class="texto-pequeno">
            Lorem ipsum dolor sit amet. Cum iste velit sit officiis placeat est
            autem impedit. Sed iure internos eum perferendis tempore eum
            deleniti dolorum. Ab quos modi non magni esse id sapiente alias ab
            facere minus et maiores assumenda qui nostrum quia eum voluptatem
            deleniti. A porro aspernatur est natus quaerat et pariatur numquam!
          </p>
        </details>

        <details>
          <summary>Lorem Ipsum Exemplo</summary>
          <h3>Lorem Ipsum</h3>

          <p class="texto-pequeno">
            Lorem ipsum dolor sit amet. Cum iste velit sit officiis placeat est
            autem impedit. Sed iure internos eum perferendis tempore eum
            deleniti dolorum. Ab quos modi non magni esse id sapiente alias ab
            facere minus et maiores assumenda qui nostrum quia eum voluptatem
            deleniti. A porro aspernatur est natus quaerat et pariatur numquam!
          </p>
        </details>

      </div>

      <div id="nossos-produtos">
        <h2>Nossos Produtos</h2>
        <span
          >Lorem ipsum dolor sit amet, consectetur adipis cing elit consectetur
          adipis cing elit.</span
        >

        <ul>
          <li class="cartao">
            <figure>
              <img src="./../../image/nossos-produtos-img.svg" alt="" />
              <figcaption>
                <h4>Lorem Ipsum</h4>
                <span>Visa</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipis cing elit
                  consectetur adipis cing elit. Dolor sit amet, consectetur
                  adipis cing elit consectetur adipis cing elit.
                </p>
                <button class="botao-verde">Conferir cartão</button>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </main>

    <footer id="rodape-principal">
      <div id="contate-nos">
        <img src="./../../image/logo-minha-bufunfa.svg" alt="" />
        <div>
          <span>Acesse nossas redes</span>
          <ul>
            <li><a href="https://pt-br.facebook.com/" target="_blank"></a></li>
            <li><a href="https://twitter.com/" target="_blank"></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"></a></li>
            <li><a href="https://pt.linkedin.com/" target="_blank"></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"></a></li>
          </ul>
        </div>
      </div>
      <ul id="caminhos">
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
        <li class="caminho-rodape">Lorem Ipsum</li>
      </ul>

      <span
        >Minhabufanfa - © 2022 All Rights Reserved Feito com ♥ pela MKTI</span
      >
    </footer>

    <script src="./../../script/script.js"></script>
  </body>
</html>
